<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <title>Agent Moz</title>
</head>
<body>
   <p>
   <object codetype="application/java" classid="java:managency.agent.AgentMoz.class"
      width="0" height="0">
      <param name="archive" value="AgentMoz-applet.jar,AgentMBean.jar"/>
      <param name="type" value="application/x-java-applet;version=1.3"/>
      <param name="mayscript" value="true"/>
      <param name="mbean.classname" value="managency.mbean.TaskScheduler"/>
      <param name="mbean.parameters" value="file:/progra~1/mozilla.org/mozilla/components/agentmoz.start,file:/progra~1/mozilla.org/mozilla/components/agentmoz.stop"/>
      <param name="mbean.signature" value="java.lang.String,java.lang.String"/>
   </object>
   </p>
</body>
</html>
